h1 {
  font-weight: 800;
  font-size: 50px;
  color: #1d5f5f;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
}

h3 {
  color: #1d5f5f;
  font-size: x-large;
}
section h2 {
  text-align: center;
  -webkit-text-align: center;
  font-weight: 800;
  font-size: xx-large;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  /* background-image: linear-gradient(94.97deg, #15ecb2 24%, #5cd5ef 68%); */
  background-image: linear-gradient(94.97deg, #4c7796 24%, #009688d1 68%);
  /* color: #5cd5ef; */
  color: #4c7796;
}

p {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 0.9375rem / 1.8;
  color: #3b6f64;
  line-height: 1.5rem;
}

#aboutUsFirst {
  display: flex;
  flex-direction: row;
  /* place-content: space-between; */
  padding-top: 50px;
}

@media screen and (max-width: 1313px) {
  #aboutUsFirst {
    flex-direction: column-reverse;
  }
}

svg#visual {
  position: sticky;
}

#aboutUsImg {
  place-self: center;
  /* margin-left: -90px; */
}

@media screen and (min-width: 601px) {
  #aboutUsImg {
    width: 57%;
  }
}

@media screen and (max-width: 600px) {
  svg#visual {
    width: 313px;
    height: 345px;
  }
}

#aboutUsStart {
  width: 100%;
  align-self: center;
  h1 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin: 12px 15px 40px 15px;
    color: white;
  }
  p {
    color: white;
  }
}

.poster-about {
  width: 100%;
  z-index: -1;
  height: 430px;
  background-color: #1d5f5fbd;
  position: absolute;
  top: 3%;
  left: 0;
}

@media screen and (max-width: 1424px) {
  .poster-about {
    top: 1%;
  }
}

#aboutUsPresentation {
  margin-top: 70px;
}
