#footerContent {
  margin: 12px 15px 15px 15px;
  background-color: #1d5f5fbd;
  position: relative;
  z-index: 2;
  padding: 10px 10px 10px 10px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  place-content: center;
}
