{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Découvrez comment notre application révolutionne le management de centre-ville, en combinant expertise en revitalisation urbaine et innovations technologiques en data science et IA. Transformez votre commune en un écosystème dynamique et prospère."
    />

    <title>Manager de Centre Ville 2.0</title>
    <link
      href="{% static 'css/common.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/legal_mention.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    {% include "./header.html" %}
    <main role="main" id="mainContent">
      <!-- Mentions légales -->
      <section>
        <div class="poster-mention">
          <h1>Mentions légales & CGU</h1>
        </div>
        <div id="legalMention">
          <section>
            <h1>Mentions légales</h1>

            <h2>Éditeur du site :</h2>
            <p>
              Link-co, société spécialisée dans le développement d'applications
              web, mobiles, et de bureau.<br />
              <strong>Siège social </strong>: 950 Chemin Paillette, 83690
              Salernes, France<br />
              <strong>Téléphone </strong>: +33 6 01 04 57 84<br />
              <strong>Email </strong>:
              <a href="mailto: contact@link-co.fr">contact@link-co.fr</a><br />
              <strong>SIRET </strong>: 98394214500019<br />
              <strong>Représentant légal </strong>: Anselme Colette<br />
              <strong>Directeur de la publication </strong>: Anselme Colette
            </p>

            <h2>Hébergement :</h2>
            <p>
              Microsoft Azure<br />
              One Microsoft Way, Redmond, WA 98052, États-Unis<br />
              1-800-867-1389<br />
              <a href="https://azure.microsoft.com/en-us/support/options/"
                >Formulaire de contact Azure</a
              >
            </p>

            <h2>Propriété intellectuelle :</h2>
            <p>
              Le site internet managercentreville.fr ainsi que tous ses
              composants sont la propriété exclusive de Link-co, sauf mention
              contraire. Toute reproduction, distribution, modification,
              adaptation, retransmission, ou publication, même partielle, de ces
              différents éléments est strictement interdite sans l'accord exprès
              par écrit de Link-co.
            </p>

            <h2>Collecte des données :</h2>
            <p>
              Les informations personnelles pouvant être recueillies sur le site
              sont principalement utilisées par l'éditeur pour la gestion des
              relations avec vous, et le cas échéant pour le traitement de vos
              commandes. Conformément à la loi n° 78-17 du 6 janvier 1978, vous
              disposez des droits d'opposition, d'accès, et de rectification des
              données vous concernant. Pour exercer ce droit, contactez-nous à
              l'adresse mentionnée plus haut.
            </p>

            <h2>Cookies :</h2>
            <p>
              Le site peut être amené à vous demander l'acceptation des cookies
              pour des besoins de statistiques et d'affichage. Un cookie est une
              information déposée sur votre disque dur par le serveur du site
              que vous visitez.
            </p>
          </section>

          <!-- Conditions Générales d'Utilisation -->
          <section>
            <h1>
              Conditions Générales d'Utilisation du site managercentreville.fr
            </h1>

            <h2>1. Objet</h2>
            <p>
              Les présentes conditions générales d'utilisation ont pour objet
              l'encadrement juridique de l’utilisation du site
              managercentreville.fr et de ses services.
            </p>

            <h2>2. Mentions légales</h2>
            <p>
              L'édition du site est assurée par la société Link-co, domiciliée
              au 950 Chemin Paillette, 83690 Salernes, France.
            </p>

            <h2>3. Accès aux services</h2>
            <p>
              Le site permet à l'Utilisateur un accès gratuit aux services
              suivants : [description des services]. Le site est accessible en
              tout lieu à tout Utilisateur ayant un accès à Internet. Tous les
              frais nécessaires pour l'accès aux services sont à la charge de
              l'Utilisateur.
            </p>

            <h2>4. Propriété intellectuelle</h2>
            <p>
              Les marques, logos, signes et tout autre contenu du site font
              l'objet d'une protection par le Code de la propriété
              intellectuelle. L'Utilisateur demande l'autorisation préalable du
              site pour toute reproduction, publication, copie des différents
              contenus.
            </p>

            <h2>5. Responsabilités</h2>
            <p>
              Les informations diffusées sur le site sont réputées fiables.
              Malgré des mises à jour régulières, le site ne peut être tenu
              responsable de la modification des dispositions administratives et
              juridiques survenant après la publication.
            </p>

            <h2>6. Données personnelles</h2>
            <p>
              Conformément à la loi "Informatique et Libertés" et au RGPD,
              l'Utilisateur dispose d'un droit d'accès, de rectification, de
              suppression et d'opposition de ses données personnelles.
            </p>

            <h2>7. Cookies</h2>
            <p>
              Un cookie peut s’installer automatiquement sur son logiciel de
              navigation lors de ses visites sur le site. Un cookie est un
              élément qui ne permet pas d’identifier l’Utilisateur mais sert à
              enregistrer des informations relatives à la navigation.
            </p>

            <h2>8. Droit applicable et juridiction compétente</h2>
            <p>
              La législation française s'applique au présent contrat. En cas de
              non-résolution amiable d'un litige, les tribunaux français seront
              seuls compétents.
            </p>
          </section>
        </div>
      </section>
    </main>
    {% include "./footer.html" %}
    <canvas id="canvas"></canvas>
  </body>
  <script src="{% static 'js/common.js' %}" type="module"></script>
</html>
